In [1]:
import pandas as pd

In [2]:
#Read dataform created after extracting process finished
df = pd.read_csv('../1_Data/extracted_dataset.csv')

df.head()

,Country Name,Region Code,Country Code,"GDP, PPP (current international $)","Population, total",Population CGR 1960-2015,Internet users (per 100 people),Popltn Largest City % of Urban Pop,"2014 Life expectancy at birth, total (years)","Literacy rate, adult female (% of females ages 15 and above)",Exports of goods and services (% of GDP)
0,Afghanistan,ME,AFG,"62,912,669,167","32,526,562",2.36%,8.3,53.4%,60.4,23.873850,0.073278
1,Angola,AF,AGO,"184,437,662,368","25,021,974",2.87%,12.4,50.0%,52.3,60.744801,0.373074
2,Albania,EU,ALB,"32,663,238,936","2,889,167",1.07%,63.3,27.3%,77.8,96.769691,0.271050
3,Argentina,SA,ARG,"882,358,844,160","43,416,755",1.36%,69.4,38.1%,76.2,98.134781,0.110578
4,Armenia,RU,ARM,"25,329,201,238","3,017,712",0.88%,58.2,55.2%,74.7,99.730469,0.297334

In [3]:
#USE ONLY WHEN YOU WANT TO REMOVE COLUMNS

#cols = ['Region Code', 'Country Code']

#df.drop(cols, inplace = True, axis = 1)

#df.head()

In [4]:
#Removing commas from columns
df['GDP, PPP (current international $)'] = df['GDP, PPP (current international $)'].str.replace(',', '')
df[' Population, total '] = df[' Population, total '].str.replace(',', '')

df.head()

,Country Name,Region Code,Country Code,"GDP, PPP (current international $)","Population, total",Population CGR 1960-2015,Internet users (per 100 people),Popltn Largest City % of Urban Pop,"2014 Life expectancy at birth, total (years)","Literacy rate, adult female (% of females ages 15 and above)",Exports of goods and services (% of GDP)
0,Afghanistan,ME,AFG,62912669167,32526562,2.36%,8.3,53.4%,60.4,23.873850,0.073278
1,Angola,AF,AGO,184437662368,25021974,2.87%,12.4,50.0%,52.3,60.744801,0.373074
2,Albania,EU,ALB,32663238936,2889167,1.07%,63.3,27.3%,77.8,96.769691,0.271050
3,Argentina,SA,ARG,882358844160,43416755,1.36%,69.4,38.1%,76.2,98.134781,0.110578
4,Armenia,RU,ARM,25329201238,3017712,0.88%,58.2,55.2%,74.7,99.730469,0.297334

In [5]:
#Removing percent signs from columns
df['Population CGR 1960-2015'] = df['Population CGR 1960-2015'].str.replace('%', '')
df['Population CGR 1960-2015'] = pd.to_numeric(df['Population CGR 1960-2015']) / 100

df['Popltn Largest City % of Urban Pop'] = df['Popltn Largest City % of Urban Pop'].str.replace('%', '')
df['Popltn Largest City % of Urban Pop'] = pd.to_numeric(df['Popltn Largest City % of Urban Pop']) / 100

df.head()

,Country Name,Region Code,Country Code,"GDP, PPP (current international $)","Population, total",Population CGR 1960-2015,Internet users (per 100 people),Popltn Largest City % of Urban Pop,"2014 Life expectancy at birth, total (years)","Literacy rate, adult female (% of females ages 15 and above)",Exports of goods and services (% of GDP)
0,Afghanistan,ME,AFG,62912669167,32526562,0.0236,8.3,0.534,60.4,23.873850,0.073278
1,Angola,AF,AGO,184437662368,25021974,0.0287,12.4,0.500,52.3,60.744801,0.373074
2,Albania,EU,ALB,32663238936,2889167,0.0107,63.3,0.273,77.8,96.769691,0.271050
3,Argentina,SA,ARG,882358844160,43416755,0.0136,69.4,0.381,76.2,98.134781,0.110578
4,Armenia,RU,ARM,25329201238,3017712,0.0088,58.2,0.552,74.7,99.730469,0.297334

In [6]:
#If you need to adjust the variable types before preparing for loading, do it here
df = df.astype({'GDP, PPP (current international $)':'float'})
df = df.astype({' Population, total ':'float'})
df = df.astype({'Population CGR 1960-2015':'float'})
df = df.astype({'Popltn Largest City % of Urban Pop':'float'})

In [7]:
df.dtypes

Country Name                                                     object
Region Code                                                      object
Country Code                                                     object
GDP, PPP (current international $)                              float64
 Population, total                                              float64
Population CGR 1960-2015                                        float64
Internet users (per 100 people)                                 float64
Popltn Largest City % of Urban Pop                              float64
2014 Life expectancy at birth, total (years)                    float64
Literacy rate, adult female (% of females ages 15 and above)    float64
Exports of goods and services (% of GDP)                        float64
dtype: object

In [8]:
#Save df as csv for next file
df.to_csv('../1_Data/transformed_dataset.csv', index=False)