In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('2015 World Bank Data.csv')

df.head()

,Country Name,Region Code,Country Code,"GDP, PPP (current international $)","Population, total",Population CGR 1960-2015,Internet users (per 100 people),Popltn Largest City % of Urban Pop,"2014 Life expectancy at birth, total (years)","Literacy rate, adult female (% of females ages 15 and above)",Exports of goods and services (% of GDP)
0,Aruba,MA,ABW,NaN,"103,889",1.19%,88.7,NaN,75.5,97.513962,NaN
1,Andorra,EU,AND,NaN,"70,473",3.06%,96.9,NaN,NaN,NaN,NaN
2,Afghanistan,ME,AFG,"62,912,669,167","32,526,562",2.36%,8.3,53.4%,60.4,23.873850,0.073278
3,Angola,AF,AGO,"184,437,662,368","25,021,974",2.87%,12.4,50.0%,52.3,60.744801,0.373074
4,Albania,EU,ALB,"32,663,238,936","2,889,167",1.07%,63.3,27.3%,77.8,96.769691,0.271050

In [5]:
cols = ['Region Code', 'Country Code', 'GDP, PPP (current international $)']

df.drop(cols, inplace = True, axis = 1)

df.head()

,Country Name,"Population, total",Population CGR 1960-2015,Internet users (per 100 people),Popltn Largest City % of Urban Pop,"2014 Life expectancy at birth, total (years)","Literacy rate, adult female (% of females ages 15 and above)",Exports of goods and services (% of GDP)
0,Aruba,"103,889",1.19%,88.7,NaN,75.5,97.513962,NaN
1,Andorra,"70,473",3.06%,96.9,NaN,NaN,NaN,NaN
2,Afghanistan,"32,526,562",2.36%,8.3,53.4%,60.4,23.873850,0.073278
3,Angola,"25,021,974",2.87%,12.4,50.0%,52.3,60.744801,0.373074
4,Albania,"2,889,167",1.07%,63.3,27.3%,77.8,96.769691,0.271050

In [14]:
df.isnull().sum()

Country Name                                                    0
 Population, total                                              0
Population CGR 1960-2015                                        0
Internet users (per 100 people)                                 0
Popltn Largest City % of Urban Pop                              0
2014 Life expectancy at birth, total (years)                    0
Literacy rate, adult female (% of females ages 15 and above)    0
Exports of goods and services (% of GDP)                        0
dtype: int64

In [13]:
df.dropna(subset=['Population CGR 1960-2015', 'Literacy rate, adult female (% of females ages 15 and above)', 'Exports of goods and services (% of GDP)', 'Popltn Largest City % of Urban Pop'], inplace = True)

df.reset_index(drop=True, inplace=True)

df.head()

,Country Name,"Population, total",Population CGR 1960-2015,Internet users (per 100 people),Popltn Largest City % of Urban Pop,"2014 Life expectancy at birth, total (years)","Literacy rate, adult female (% of females ages 15 and above)",Exports of goods and services (% of GDP)
0,Afghanistan,"32,526,562",2.36%,8.3,53.4%,60.4,23.873850,0.073278
1,Angola,"25,021,974",2.87%,12.4,50.0%,52.3,60.744801,0.373074
2,Albania,"2,889,167",1.07%,63.3,27.3%,77.8,96.769691,0.271050
3,Argentina,"43,416,755",1.36%,69.4,38.1%,76.2,98.134781,0.110578
4,Armenia,"3,017,712",0.88%,58.2,55.2%,74.7,99.730469,0.297334

In [18]:
df.dtypes

Country Name                                                     object
 Population, total                                               object
Population CGR 1960-2015                                         object
Internet users (per 100 people)                                 float64
Popltn Largest City % of Urban Pop                               object
2014 Life expectancy at birth, total (years)                    float64
Literacy rate, adult female (% of females ages 15 and above)    float64
Exports of goods and services (% of GDP)                        float64
dtype: object

In [19]:
y = []

for i in range (len(df)):
    x = tuple(df.iloc[i])
    y.append(x)

y

[('Afghanistan',
  ' 32,526,562 ',
  '2.36%',
  8.3,
  '53.4%',
  60.4,
  23.87384987,
  0.073278412),
 ('Angola',
  ' 25,021,974 ',
  '2.87%',
  12.4,
  '50.0%',
  52.3,
  60.74480057,
  0.373074223),
 ('Albania',
  ' 2,889,167 ',
  '1.07%',
  63.3,
  '27.3%',
  77.8,
  96.76969147,
  0.271049845),
 ('Argentina',
  ' 43,416,755 ',
  '1.36%',
  69.4,
  '38.1%',
  76.2,
  98.13478088,
  0.11057819),
 ('Armenia',
  ' 3,017,712 ',
  '0.88%',
  58.2,
  '55.2%',
  74.7,
  99.73046875,
  0.297333847),
 ('Azerbaijan',
  ' 9,651,349 ',
  '1.66%',
  77.0,
  '45.0%',
  70.8,
  99.73451996,
  0.378141783),
 ('Burundi',
  ' 11,178,921 ',
  '2.56%',
  4.9,
  '55.7%',
  56.7,
  82.91288757,
  0.071030216),
 ('Benin',
  ' 10,879,829 ',
  '2.76%',
  6.8,
  '15.8%',
  59.5,
  27.28825951,
  0.268830288),
 ('Burkina Faso',
  ' 18,105,570 ',
  '2.43%',
  11.4,
  '50.7%',
  58.6,
  28.34884071,
  0.33420275),
 ('Bangladesh',
  ' 160,995,642 ',
  '2.22%',
  14.4,
  '31.9%',
  71.6,
  58.31364059,
  0.173366749),
 ('Bulgaria',
  ' 7,177,991 ',
  '-0.17%',
  56.7,
  '23.1%',
  75.4,
  98.06880951,
  0.664649835),
 ('Belarus',
  ' 9,513,000 ',
  '0.27%',
  62.2,
  '26.3%',
  73.0,
  99.66835022,
  0.600651235),
 ('Brazil',
  ' 207,847,528 ',
  '1.93%',
  59.1,
  '11.8%',
  74.4,
  92.86592102,
  0.130426948),
 ('Central African Republic',
  ' 4,900,274 ',
  '2.17%',
  4.6,
  '40.5%',
  50.7,
  24.35548973,
  0.091891363),
 ('Chile',
  ' 17,948,141 ',
  '1.55%',
  64.3,
  '40.5%',
  81.5,
  96.50222015,
  0.300525994),
 ('China',
  ' 1,371,220,000 ',
  '1.32%',
  50.3,
  '3.1%',
  75.8,
  94.47138977,
  0.223740509),
 ("Cote d'Ivoire",
  ' 22,701,556 ',
  '3.47%',
  21.0,
  '39.5%',
  51.6,
  32.72970963,
  0.454029206),
 ('Cameroon',
  ' 23,344,179 ',
  '2.71%',
  20.7,
  '24.1%',
  55.5,
  68.88101196,
  0.169574465),
 ('Congo, Rep.',
  ' 4,620,330 ',
  '2.80%',
  7.6,
  '62.5%',
  62.3,
  72.87705994,
  0.692755606),
 ('Colombia',
  ' 48,228,704 ',
  '1.97%',
  55.9,
  '26.5%',
  74.0,
  94.67140198,
  0.147146341),
 ('Dominican Republic',
  ' 10,528,391 ',
  '2.14%',
  51.9,
  '35.4%',
  73.5,
  92.96755219,
  0.246369597),
 ('Ecuador',
  ' 16,144,363 ',
  '2.33%',
  48.9,
  '26.3%',
  75.9,
  93.59758759,
  0.210701765),
 ('Egypt, Arab Rep.',
  ' 91,508,084 ',
  '2.24%',
  35.9,
  '47.6%',
  71.1,
  68.05779266,
  0.132068483),
 ('Spain',
  ' 46,418,269 ',
  '0.77%',
  78.7,
  '16.8%',
  83.1,
  97.4969635,
  0.331478279),
 ('Estonia',
  ' 1,311,998 ',
  '0.14%',
  88.4,
  '44.1%',
  77.2,
  99.80470276,
  0.797609686),
 ('Ethiopia',
  ' 99,390,750 ',
  '2.77%',
  11.6,
  '16.7%',
  64.0,
  40.96794128,
  0.09827312),
 ('Gabon',
  ' 1,725,292 ',
  '2.28%',
  23.5,
  '47.0%',
  64.4,
  81.1102066,
  0.45881116),
 ('Georgia',
  ' 3,679,000 ',
  '0.02%',
  45.2,
  '58.1%',
  74.7,
  99.73381805,
  0.450420612),
 ('Ghana',
  ' 27,409,893 ',
  '2.61%',
  23.5,
  '17.5%',
  61.3,
  71.35002136,
  0.440565405),
 ('Guinea',
  ' 12,608,590 ',
  '2.32%',
  4.7,
  '41.3%',
  58.7,
  22.87104034,
  0.26809181),
 ('Greece',
  ' 10,823,732 ',
  '0.48%',
  66.8,
  '36.1%',
  81.3,
  93.65438843,
  0.301149643),
 ('Guatemala',
  ' 16,342,897 ',
  '2.53%',
  27.1,
  '34.6%',
  71.7,
  73.91976929,
  0.212899626),
 ('Honduras',
  ' 8,075,060 ',
  '2.57%',
  20.4,
  '25.4%',
  73.1,
  88.52593994,
  0.450845755),
 ('Croatia',
  ' 4,224,404 ',
  '0.04%',
  69.8,
  '27.6%',
  77.3,
  98.92350769,
  0.493783752),
 ('Haiti',
  ' 10,711,067 ',
  '1.87%',
  12.2,
  '38.8%',
  62.7,
  57.17098999,
  0.198492567),
 ('Indonesia',
  ' 257,563,815 ',
  '1.98%',
  22.0,
  '7.5%',
  68.9,
  93.81723785,
  0.210919758),
 ('Iraq',
  ' 36,423,395 ',
  '2.97%',
  17.2,
  '26.3%',
  69.4,
  73.83075714,
  0.284953475),
 ('Italy',
  ' 60,802,085 ',
  '0.35%',
  65.6,
  '8.9%',
  82.7,
  98.7915802,
  0.302409106),
 ('Jamaica',
  ' 2,725,941 ',
  '0.94%',
  43.2,
  '39.3%',
  75.7,
  93.01059723,
  0.301252316),
 ('Jordan',
  ' 7,594,547 ',
  '3.98%',
  53.4,
  '18.2%',
  74.1,
  97.4907074,
  0.378244527),
 ('Kazakhstan',
  ' 17,544,126 ',
  '1.08%',
  72.9,
  '16.3%',
  71.6,
  99.77313995,
  0.286257534),
 ('Kenya',
  ' 46,050,302 ',
  '3.21%',
  45.6,
  '33.2%',
  61.6,
  74.969841,
  0.157690201),
 ('Cambodia',
  ' 15,577,899 ',
  '1.84%',
  19.0,
  '53.6%',
  68.2,
  72.29683685,
  0.676158083),
 ('Lao PDR',
  ' 6,802,023 ',
  '2.14%',
  18.2,
  '37.9%',
  66.1,
  72.82441711,
  0.348485819),
 ('Lebanon',
  ' 5,850,743 ',
  '2.16%',
  74.0,
  '43.3%',
  79.4,
  92.03942108,
  0.569415899),
 ('Liberia',
  ' 4,503,438 ',
  '2.56%',
  5.9,
  '56.5%',
  60.8,
  32.81483078,
  0.234778373),
 ('Libya',
  ' 6,278,438 ',
  '2.72%',
  19.0,
  '22.8%',
  71.7,
  85.81128693,
  0.289502586),
 ('Sri Lanka',
  ' 20,966,000 ',
  '1.37%',
  30.0,
  '18.4%',
  74.8,
  91.70864868,
  0.205256),
 ('Lithuania',
  ' 2,910,199 ',
  '0.08%',
  71.4,
  '26.7%',
  74.0,
  99.84133148,
  0.772915619),
 ('Latvia',
  ' 1,978,440 ',
  '-0.13%',
  79.2,
  '46.6%',
  74.2,
  99.90770721,
  0.587598502),
 ('Macao SAR, China',
  ' 587,606 ',
  '2.26%',
  77.6,
  '99.5%',
  80.6,
  94.59892273,
  0.777875049),
 ('Moldova',
  ' 3,554,150 ',
  '0.61%',
  49.8,
  '45.4%',
  71.5,
  99.10359192,
  0.434294975),
 ('Madagascar',
  ' 24,235,390 ',
  '2.87%',
  4.2,
  '30.7%',
  65.1,
  62.6137886,
  0.331825311),
 ('Mexico',
  ' 127,017,224 ',
  '2.21%',
  57.4,
  '20.9%',
  76.7,
  93.5134201,
  0.35335622),
 ('Macedonia, FYR',
  ' 2,078,453 ',
  '0.61%',
  70.4,
  '42.4%',
  75.3,
  96.87072754,
  0.485253088),
 ('Mali',
  ' 17,599,694 ',
  '2.22%',
  10.3,
  '35.8%',
  58.0,
  22.1957798,
  0.218056056),
 ('Mongolia',
  ' 2,959,134 ',
  '2.08%',
  21.4,
  '64.6%',
  69.5,
  98.55175781,
  0.449369833),
 ('Mozambique',
  ' 27,977,863 ',
  '2.42%',
  9.0,
  '13.2%',
  55.0,
  45.52547073,
  0.26163924),
 ('Malawi',
  ' 17,215,232 ',
  '2.88%',
  9.3,
  '32.3%',
  62.7,
  59.03110886,
  0.281110942),
 ('Malaysia',
  ' 30,331,007 ',
  '2.42%',
  71.1,
  '30.2%',
  74.7,
  93.1064682,
  0.710031654),
 ('Namibia',
  ' 2,458,830 ',
  '2.59%',
  22.3,
  '32.1%',
  64.7,
  90.64672089,
  0.439047592),
 ('Niger',
  ' 19,899,120 ',
  '3.27%',
  2.2,
  '29.2%',
  61.5,
  11.01572037,
  0.171769086),
 ('Nicaragua',
  ' 6,082,032 ',
  '2.26%',
  19.7,
  '26.7%',
  74.8,
  82.64549255,
  0.375207427),
 ('Nepal',
  ' 28,513,700 ',
  '1.91%',
  17.6,
  '22.3%',
  69.6,
  54.7505188,
  0.116520236),
 ('Pakistan',
  ' 188,924,874 ',
  '2.65%',
  18.0,
  '22.7%',
  66.2,
  42.72716904,
  0.10946127),
 ('Peru',
  ' 31,376,670 ',
  '2.09%',
  40.9,
  '40.1%',
  74.5,
  91.54062653,
  0.210291087),
 ('Philippines',
  ' 100,699,395 ',
  '2.47%',
  40.7,
  '29.0%',
  68.3,
  97.03275299,
  0.27935343),
 ('Poland',
  ' 37,999,494 ',
  '0.45%',
  68.0,
  '7.5%',
  77.3,
  99.66921234,
  0.493617911),
 ('Portugal',
  ' 10,348,648 ',
  '0.28%',
  68.6,
  '43.9%',
  80.7,
  94.13273621,
  0.403356159),
 ('Paraguay',
  ' 6,639,123 ',
  '2.30%',
  44.4,
  '59.5%',
  72.9,
  94.95807648,
  0.418618246),
 ('Qatar',
  ' 2,235,355 ',
  '7.26%',
  92.9,
  '32.4%',
  78.6,
  97.51200867,
  0.553665249),
 ('Romania',
  ' 19,832,389 ',
  '0.14%',
  55.8,
  '17.3%',
  75.1,
  98.45471191,
  0.410936485),
 ('Russian Federation',
  ' 144,096,812 ',
  '0.33%',
  73.4,
  '11.4%',
  70.4,
  99.7129364,
  0.295318405),
 ('Rwanda',
  ' 11,609,666 ',
  '2.53%',
  18.0,
  '37.6%',
  64.0,
  68.26931763,
  0.144252184),
 ('Saudi Arabia',
  ' 31,540,372 ',
  '3.79%',
  69.6,
  '24.3%',
  74.3,
  91.84068298,
  0.33749789),
 ('Sudan',
  ' 40,234,882 ',
  '3.09%',
  26.6,
  '37.7%',
  63.5,
  53.12355042,
  0.069071088),
 ('Senegal',
  ' 15,129,273 ',
  '2.88%',
  21.7,
  '53.2%',
  66.4,
  43.80036163,
  0.277944361),
 ('Singapore',
  ' 5,535,002 ',
  '2.23%',
  82.1,
  '100.0%',
  82.6,
  94.98401642,
  1.764949634),
 ('Sierra Leone',
  ' 6,453,184 ',
  '1.99%',
  2.5,
  '39.1%',
  50.9,
  38.18144989,
  0.198052722),
 ('El Salvador',
  ' 6,126,583 ',
  '1.46%',
  26.9,
  '26.9%',
  72.8,
  85.60791779,
  0.259587934),
 ('South Sudan',
  ' 12,339,812 ',
  '2.63%',
  17.9,
  '13.8%',
  55.7,
  25.39306068,
  0.097769917),
 ('Chad',
  ' 14,037,472 ',
  '2.84%',
  2.7,
  '39.9%',
  51.6,
  31.75429916,
  0.298325271),
 ('Togo',
  ' 7,304,578 ',
  '2.82%',
  7.1,
  '32.8%',
  59.7,
  55.30268097,
  0.458162067),
 ('Turkey',
  ' 78,665,830 ',
  '1.93%',
  53.7,
  '24.5%',
  75.2,
  92.90122223,
  0.279618162),
 ('Tanzania',
  ' 53,470,420 ',
  '3.08%',
  5.4,
  '30.3%',
  64.9,
  76.08978271,
  0.207828762),
 ('Uganda',
  ' 39,032,383 ',
  '3.23%',
  19.2,
  '30.8%',
  58.5,
  66.78479767,
  0.174879586),
 ('Ukraine',
  ' 45,198,200 ',
  '0.11%',
  49.3,
  '9.3%',
  71.2,
  99.73970795,
  0.527690408),
 ('Uruguay',
  ' 3,431,555 ',
  '0.55%',
  64.6,
  '52.2%',
  77.0,
  98.8039093,
  0.223019146),
 ('Uzbekistan',
  ' 31,299,500 ',
  '2.34%',
  42.8,
  '19.8%',
  68.3,
  99.99582672,
  0.206652496),
 ('Vietnam',
  ' 91,703,800 ',
  '1.78%',
  52.7,
  '23.7%',
  75.6,
  92.84365845,
  0.897792486),
 ('South Africa',
  ' 54,956,920 ',
  '2.11%',
  51.9,
  '26.4%',
  57.2,
  93.42893219,
  0.308972318),
 ('Congo, Dem. Rep.',
  ' 77,266,814 ',
  '2.99%',
  3.8,
  '35.3%',
  58.7,
  65.8973465,
  0.294904393),
 ('Zimbabwe',
  ' 15,602,751 ',
  '2.62%',
  16.4,
  '29.7%',
  57.5,
  85.28513336,
  0.262450276)]

In [20]:
file = open('WorldBankData.txt', 'w')

for tuple in y:
    file.write(str(tuple) + ',' + '\n')

file.close()